@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

:root {
    --space: 15px;
    --grey: #353535;

    // Promenljive
    --perspective: 1000px;

    --prism__rotateX: -95deg;

    --bt__rotateY: 0deg;
    --bt__translateZ: 0px;
    
    --rt__rotateY: 60deg;
    --rt__translateZ: 0px;
    
    --lf__rotateY: -60deg;
    --lf__translateZ: 0px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(28, 28, 28);
    color: beige;
    font-family: 'Kumbh Sans', sans-serif;
}

.wrap{
    display: grid;
    align-items: start;
    padding: calc(var(--space) * 2);
    gap: calc(var(--space) * 2);
    grid-template-columns: 1fr 250px;
    height: 100vh;
    width: 100%;
}

#scene{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    overflow: hidden;

    border: 2px solid var(--grey);
    border-radius: 4px;
    padding: var(--space);

    perspective: var(--perspective, 1000px);
    // perspective: 10;
    
}

#settings{
    background: var(--grey);
    border-radius: 4px;
    padding: var(--space);

    h2{
        margin-top: 20px;
        margin-bottom: 10px;
    }

    label{
        display: block;
        // margin-bottom: 10px;
        margin-top: 20;
        display: block;
    }

    input{
        padding: 8px;
    }
}


// Prism

.prism{
    position: relative;
    transform-style: preserve-3d;   
    transform: rotateX(var(--prism__rotateX)); 
}

.prism_side{
    position: absolute;
    width: 200px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.prism_side--left{
    border: 5px solid red;
    background-color: rgba(255, 0, 0, 0.5);
    transform: rotateY( var(--lf__rotateY) ) translateZ( var(--lf__translateZ) );
    transform-origin: right;
}

.prism_side--right{
    border: 5px solid green;
    background-color: rgba(0, 128, 0, 0.5);
    transform: rotateY( var(--rt__rotateY) ) translateZ( var(--rt__translateZ) );
    transform-origin: left;
}

.prism_side--bottom{
    border: 5px solid blue;
    background-color: rgba(0, 0, 255, 0.5);
    transform: rotateY( var(--bt__rotateY) ) translateZ( var(--bt__translateZ) );
}