@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");
:root {
  --space: 15px;
  --grey: #353535;
  --bg: #090039;
  --perspective: 200px;
  --prism__rotateX: -100deg;
  --prism__rotateZ: 200deg;
  --bt__rotateY: 0deg;
  --bt__translateZ: 0px;
  --rt__rotateY: 60deg;
  --rt__translateZ: 0px;
  --lf__rotateY: -60deg;
  --lf__translateZ: 0px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
  color: beige;
  font-family: "Kumbh Sans", sans-serif;
}

.wrap {
  display: grid;
  align-items: start;
  padding: calc(var(--space) * 2);
  gap: calc(var(--space) * 2);
  grid-template-columns: 1fr 250px;
  height: 100vh;
  width: 100%;
}

#scene {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  border: 2px solid var(--grey);
  border-radius: 4px;
  padding: var(--space);
  -webkit-perspective: var(--perspective, 1000px);
          perspective: var(--perspective, 1000px);
}

#settings {
  background: var(--grey);
  border-radius: 4px;
  padding: var(--space);
}
#settings h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}
#settings label {
  display: block;
  margin-top: 20;
  display: block;
}
#settings input {
  padding: 8px;
}

.prism {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(var(--prism__rotateX)) rotateZ(var(--prism__rotateZ));
          transform: rotateX(var(--prism__rotateX)) rotateZ(var(--prism__rotateZ));
}

.prism_side {
  position: absolute;
  width: 200px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prism_side--left {
  -webkit-transform: rotateY(var(--lf__rotateY)) translateZ(var(--lf__translateZ));
          transform: rotateY(var(--lf__rotateY)) translateZ(var(--lf__translateZ));
  -webkit-transform-origin: right;
          transform-origin: right;
  background: linear-gradient(-180deg, var(--bg) 0%, rgba(0, 212, 255, 0) 100%), conic-gradient(from 90deg at 1px 1px, #0000 90deg, #c800ff 0) 0 0/2vh 2vh;
  -webkit-animation: gradient 30s ease-in-out infinite;
          animation: gradient 30s ease-in-out infinite;
}

.prism_side--right {
  -webkit-transform: rotateY(var(--rt__rotateY)) translateZ(var(--rt__translateZ));
          transform: rotateY(var(--rt__rotateY)) translateZ(var(--rt__translateZ));
  -webkit-transform-origin: left;
          transform-origin: left;
  background: linear-gradient(-180deg, var(--bg) 0%, rgba(0, 212, 255, 0) 100%), conic-gradient(from 90deg at 1px 1px, #0000 90deg, #c800ff 0) 0 0/2vh 2vh;
  -webkit-animation: gradient 30s ease-in-out infinite;
          animation: gradient 30s ease-in-out infinite;
}

.prism_side--bottom {
  -webkit-transform: rotateY(var(--bt__rotateY)) translateZ(var(--bt__translateZ));
          transform: rotateY(var(--bt__rotateY)) translateZ(var(--bt__translateZ));
  background: linear-gradient(-180deg, var(--bg) 0%, rgba(0, 212, 255, 0) 100%), conic-gradient(from 90deg at 1px 1px, #0000 90deg, #c800ff 0) 0 0/2vh 2vh;
  -webkit-animation: gradient 30s ease-in-out infinite;
          animation: gradient 30s ease-in-out infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
